<div class="bg-blue-900 sticky top-0 w-full h-20 flex items-center justify-between select-none">
  <a href="/"><p class="relative m-7 text-white text-3xl font-extrabold italic">FileZIP</span></p></a>
</div>
<div class="flex" style="height: calc(100vh - 5rem)">