<div class="bg-gray-900 w-[320px] h-full flex flex-col justify-between">
  <ul class="px-12 text-amber-50 text-2xl">
    <a href="/"><li class="cursor-pointer py-5 select-none hover:bg-gray-700 -mx-12 px-12">Cloud Drive</li></a>
    <a href="/media"><li class="cursor-pointer py-5 select-none hover:bg-gray-700 -mx-12 px-12">Media</li></a>
    <a href="/recent"><li class="cursor-pointer py-5 select-none hover:bg-gray-700 -mx-12 px-12">Recent</li></a>
    <a href="/favorite"><li class="cursor-pointer py-5 select-none hover:bg-gray-700 -mx-12 px-12">Favorite</li></a>
    <a href="/bin"><li class="cursor-pointer py-5 select-none hover:bg-gray-700 -mx-12 px-12">Recycle bin</li></a>
  </ul>
  <div class="p-12 text-amber-50">
    <button class="cursor-pointer text-2xl select-none hover:bg-gray-700 rounded-3xl border-2 border-amber-50 py-2.5 px-20 -mx-5">Upgrade</button>
  </div>
</div>