<html>
  <head>
    <title>Home</title>
    <link href="output.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <!-- nav bar -->
    <div class="bg-blue-900 sticky top-0 w-full h-20 flex items-center justify-between">
      <p class="relative m-7 text-white text-3xl font-extrabold italic">FileZIP</span></p>
    </div>
    <div class="flex" style="height: calc(100vh - 5rem)">
      <!-- sidebar -->
      <div class="bg-amber-600 w-[320px] h-full flex flex-col justify-between">
        <div class="m-10">
          <ul class="space-y-8">
            <li>Cloud Drive</li>
            <li>Media</li>
            <li>Recent</li>
            <li>Favorite</li>
            <li>Recycle bin</li>
          </ul>
        </div>
        <div class="m-10">
          <p>Upgrade</p>
        </div>
      </div>
      <!-- main page -->
      <div class="bg-green-500 flex-grow h-full">

      </div>
    </div>
  </body>
</html>