<html>
  <head>
    <title>Home</title>
    <link href="output.css" rel="stylesheet">
  </head>
  <body>
    <div class="bg-red-300 relative">
      <div class="bg-green-700 absolute top-0 w-full h-48 z-10">
        <p class="bg-blue-800">hello</p>
      </div>
    </div>
  </body>
</html>