<html>
  <head>
    <title>FileZIP</title>
    <link href="output.css" rel="stylesheet">
  </head>
  <body>
    <!-- nav bar -->
    <%- include('partials/nav') %>
    <!-- sidebar -->
    <%- include('partials/sidebar') %>
    <!-- main page -->
    <div class="flex-grow h-full">
      <%- include(`pages/${path}`) %>
    </div>
  </body>
</html>