<html>
  <head>
    <title>Home</title>
    <link href="output.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <!-- nav bar -->
    <div class="bg-green-600 sticky top-0 w-full h-10 flex items-center justify-between">
      <p class="relative m-2 text-white">File<span class="font-semibold text-white">Storage</span></p>
      <div class="text-white m-2">
        <span class="material-icons">account_circle</span>
      </div>
    </div>
    <!-- table -->
    <div class="flex items-center justify-between m-4">
      <div class="flex items-center space-x-1">
        <span class="material-icons">folder_open</span>
        <p>Library</p>
      </div>
      <div class="flex items-center space-x-3 text-blue-700">
        <div class="flex items-center space-x-1">
          <span class="material-icons">create_new_folder</span>
          <p>New folder</p>
        </div>
        <div class="flex items-center space-x-1">
          <span class="material-icons">upload_file</span>
          <p>Upload file</p>
        </div>
      </div>
    </div>
  </body>
</html>