<html>
  <head>
    <title>Home</title>
    <link href="output.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <!-- nav bar -->
    <%- include('partials/nav') %>
    <!-- sidebar -->
    <%- include('partials/sidebar') %>
    <!-- main page -->
    <div class="flex-grow h-full">
    </div>
    </div>
  </body>
</html>