<html>
  <head>
    <title>Home</title>
    <link href="output.css" rel="stylesheet">
  </head>
  <body>
    <div class="bg-red-300 relative">
      <div class="bg-green-700 absolute top-0 w-full z-10">

      </div>
    </div>
  </body>
</html>