<html>
  <head>
    <title>FileZIP</title>
    <link href="output.css" rel="stylesheet">
  </head>
  <body>
    <!-- nav bar -->
    <%- include('partials/nav') %>
    <div class="flex h-[calc(100vh-5rem)]">
      <!-- sidebar -->
      <%- include('partials/sidebar',{path:path}) %>
      <!-- main page -->
      <div class="w-full">
       <%- include(`pages/${path}`) %>
      </div>
    </div>
  </body>
</html>