<html>
  <head>
    <title>Login</title>
  </html>
  <body>
    <form class="" action="/login" method="post">
      <div class="col-md-6">
        <label for="email1" class="">Email</label>
        <input type="email" class="" id="email1">
      </div>
      <div class="col-md-6">
        <label for="password1">Password</label>
        <input type="password" class="" id="password1">
      </div>
      <div class="col-12">
        <button type="submit" class="">Login</button>
      </div>
    </form>
  </body>
</html>