<html>
  <head>
    <title>Signup</title>
  </html>
  <body>
    <form class="" action="/signup" method="post">
      <div class="">
        <label for="email1" class="">Email</label>
        <input type="email" class="" id="email1">
      </div>
      <div class="">
        <label for="password1" class="">Password</label>
        <input type="password" class="" id="password1">
      </div>
      <div class="">
        <label for="password2" class="">Password</label>
        <input type="password" class="" id="password2">
      </div>
      <div class="">
        <button type="submit" class="">Login</button>
      </div>
    </form>
  </body>
</html>