<html>
  <head>
    <title>Signup</title>
    <link href="output.css" rel="stylesheet">
  </html>
  <body>
    <form class="" action="/signup" method="post">
      <div class="">
        <label for="email1" class="">Email</label>
        <input type="email" class="" id="email1" placeholder="email">
      </div>
      <div class="">
        <label for="password1" class="">Password</label>
        <input type="password" class="" id="password1" placeholder="insert password">
      </div>
      <div class="">
        <label for="password2" class="">Password</label>
        <input type="password" class="" id="password2" placeholder="confime password">
      </div>
      <div class="">
        <button type="submit" class="">Login</button>
      </div>
      <div>
        <p>if had account please <a href="/login" class="bottom">login</a></p>
      </div>
    </form>
  </body>
</html>