<div class="flex justify-between p-1">
  <p class="text-lg">Cloud Drive</p>
  <div class="relative group">
    <button class="px-6 py-2 rounded-lg focus:outline-none focus:ring-2">
      Upload
    </button>
    <div class="absolute hidden w-36 bg-white border border-gray-200 rounded-lg shadow-lg group-hover:block left-0 z-10">
      <a href="#" class="block px-4 py-2 text-gray-700 hover:bg-gray-100 rounded-t-lg">Upload Folder</a>
      <a href="#" class="block px-4 py-2 text-gray-700 hover:bg-gray-100 rounded-b-lg">Upload Item</a>
    </div>
  </div>
</div>
